<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zybooks.studyhelpergame">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivityAnim"></activity>
        <activity android:name=".FlashCardActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddQuestionActivity" />
        <activity android:name=".EditQuestionActivity" />
        <activity android:name=".RaceGameActivity" />
        <activity android:name=".GameChooserActivity" />
        <activity android:name=".StatsActivity" />
        <activity android:name=".SampleMainMeny" />
        <activity android:name=".HelpTextActivity" />
        <activity android:name=".LogInActivity" />
        <activity android:name=".LogInPlayer2Act" />
        <activity android:name=".TicTacToe_Activity" />
        <activity android:name=".MainMenuActivity" />
    </application>

</manifest>